In [2]:
# Notebook file for swan

# Objective: take a point (or group of points) and visualize the 
# wave height over the given time periods.

In [3]:
# imports
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [4]:
ds = xr.open_dataset('/home/dalton/PycharmProjects/swan/swan.nc')

In [5]:
# time index
t = 0

In [6]:
print(ds)

<xarray.Dataset>
Dimensions:  (face: 7958, node: 4670, three: 3, time: 97)
Coordinates:
  * time     (time) datetime64[ns] 2000-01-01 2000-01-01T01:00:00 ...
Dimensions without coordinates: face, node, three
Data variables:
    mesh     int64 -2147483647
    x        (node) float32 55.2235 55.2238 55.2246 55.2262 55.2263 55.227 ...
    y        (node) float32 25.1983 25.1972 25.1964 25.1957 25.1965 25.1972 ...
    ele      (face, three) int32 3344 592 3357 1320 2010 1770 3168 3347 3345 ...
    hs       (time, node) float32 0.1456 0.132 0.09587 0.09728 0.00034 ...

<xarray.Dataset>
Dimensions:  (face: 7958, node: 4670, three: 3, time: 97)
Coordinates:
  * time     (time) datetime64[ns] 2000-01-01 2000-01-01T01:00:00 ...
Dimensions without coordinates: face, node, three
Data variables:
    mesh     int32 -2147483647
    x        (node) float32 55.2235 55.2238 55.2246 55.2262 55.2263 55.227 ...
    y        (node) float32 25.1983 25.1972 25.1964 25.1957 25.1965 25.1972 ...
    ele      (face, three) int32 3344 592 3357 1320 2010 1770 3168 3347 3345 ...
    hs       (time, node) float32 0.1456 0.132 0.09587 0.09728 0.00034 ...

In [7]:
# we only care about the "hs" variable, as this represents the
# significant wave height. We also want the time variables.

In [8]:
ds.time[0:5] # first 4 time periods (just to look tat a slice)

<xarray.DataArray 'time' (time: 5)>
array(['2000-01-01T00:00:00.000000000', '2000-01-01T01:00:00.000000000',
       '2000-01-01T02:00:00.000000000', '2000-01-01T03:00:00.000000000',
       '2000-01-01T04:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 2000-01-01 2000-01-01T01:00:00 ...
Attributes:
    standard_name:  time

<xarray.DataArray 'time' (time: 5)>
array(['2000-01-01T00:00:00.000000000', '2000-01-01T01:00:00.000000000',
       '2000-01-01T02:00:00.000000000', '2000-01-01T03:00:00.000000000',
       '2000-01-01T04:00:00.000000000'], dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 2000-01-01 2000-01-01T01:00:00 ...
Attributes:
    standard_name:  time

In [9]:
# can I slice out a point?

ds.hs[77]

<xarray.DataArray 'hs' (node: 4670)>
array([ 0.1649,  0.1558,  0.1329, ...,  1.637 ,  1.516 ,  0.6314], dtype=float32)
Coordinates:
    time     datetime64[ns] 2000-01-04T05:00:00
Dimensions without coordinates: node
Attributes:
    standard_name:  sea_surface_wave_significant_height
    units:          m
    mesh:           mesh
    location:       node

<xarray.DataArray 'hs' (node: 4670)>
array([ 0.1649,  0.1558,  0.1329, ...,  1.637 ,  1.516 ,  0.6314], dtype=float32)
Coordinates:
    time     datetime64[ns] 2000-01-04T05:00:00
Dimensions without coordinates: node
Attributes:
    standard_name:  sea_surface_wave_significant_height
    units:          m
    mesh:           mesh
    location:       node

In [10]:
# Ok, so it seems like the significant wave height ("hs") is 
# an array of the heights at each node at a specific point in time.
# This may actually make the plotting slightly easier, as 
# selecting a point in time is as simple as slicing the data ONCE

# i.e. ds.hs[time][node(s)]

In [11]:
ds.hs[78][0]

<xarray.DataArray 'hs' ()>
array(0.16769999265670776, dtype=float32)
Coordinates:
    time     datetime64[ns] 2000-01-04T06:00:00
Attributes:
    standard_name:  sea_surface_wave_significant_height
    units:          m
    mesh:           mesh
    location:       node

In [12]:
print(ds.hs[78][0])

<xarray.DataArray 'hs' ()>
array(0.16769999265670776, dtype=float32)
Coordinates:
    time     datetime64[ns] 2000-01-04T06:00:00
Attributes:
    standard_name:  sea_surface_wave_significant_height
    units:          m
    mesh:           mesh
    location:       node

In [13]:
sample = ds.hs.to_dataframe()

In [14]:
sample.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>hs</th>
    </tr>
    <tr>
      <th>time</th>
      <th>node</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">2000-01-01</th>
      <th>0</th>
      <td>0.14560</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.13200</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.09587</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.09728</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.00034</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>hs</th>
    </tr>
    <tr>
      <th>time</th>
      <th>node</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">2000-01-01</th>
      <th>0</th>
      <td>0.14560</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.13200</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.09587</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.09728</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.00034</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
sample.columns = sample.columns.get_level_values(0)

In [16]:
sample.columns = [" ".join(col).strip() for col in sample.columns.values]

NameError: name 'sample' is not defined

In [17]:
sample.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>h                               s</th>
    </tr>
    <tr>
      <th>time</th>
      <th>node</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">2000-01-01</th>
      <th>0</th>
      <td>0.14560</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.13200</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.09587</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.09728</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.00034</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>h s</th>
    </tr>
    <tr>
      <th>time</th>
      <th>node</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">2000-01-01</th>
      <th>0</th>
      <td>0.14560</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.13200</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.09587</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.09728</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.00034</td>
    </tr>
  </tbody>
</table>
</div>